{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Django</title>
    
</head>
<body>
    <header>
    </header>
    <main>
        <div class="social-media">
            <img src="{% static "assets/image/member.jpeg" %}" alt="Pessoas felizes em um espaço público cercados de prédios com uma área arboreada ao fundo" class="logo">
            <h1>Área de Membros</h1>
            <p>Uma área de membros online exclusivo para pessoas registradas</p>            
        </div>
    </main>
</body>
</html>
